
img {float: left;}
#header { border: thin solid black; background-color: #476e2f; color: white}

.nav {
    background: orange;
    width: 100%;
}


.nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #476e2f;
}

.nav ul li {
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    float: left;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: black;

}

.nav ul li a:hover {
    color: black;


}

.pagefoot {
    background: orange;
    width: 100%;
    text-align: center;
}


.pagefoot ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #83603f;
      text-align: center;
}

.pagefoot ul li {
    list-style: none;
      text-align: center;

}

.pagefoot ul li a {
    text-decoration: none;
    float: left;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: white;
      text-align: center;

}

.pagefoot ul li a:hover {
    color: white;
      text-align: center;


}

.imagefoot {

width: 1100
background-image: url("hola.png"); 





}
